<div class="card">
    <div class="card-body">
      <div class="h2">
         <!-- Имя автора -->
         {{ author.get_full_name}}
      </div>
      <div class="h3 text-muted">
         <!-- username автора -->
         @{{ author.username }}
       </div>
     </div>
     <ul class="list-group list-group-flush">
       <li class="list-group-item">
         <div class="h6 text-muted">
           Подписчиков: {{ author.following.count }} <br/>
           Подписан: {{ author.follower.count }}
          </div>
       </li>
       {% if user != author %}
       <li class="list-group-item">
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button">
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button">
            Подписаться
          </a>
        {% endif %}
      </li> 
      {% endif %}
       <li class="list-group-item">
          <div class="h6 text-muted">
            <!-- Количество записей -->
            Записей: {{ author.posts.count }}
          </div>
        </li>
      </ul>
</div>
