{% load user_filters %}
<nav class="navbar navbar-light fixed-top sticky-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'posts:index' %}"><span style="color:red">Ya</span>tube</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        Пользователь: {{ user.username }}.
        <a class="btn btn-outline-primary p-2 text-dark" href="{% url 'posts:new_post' %}">Новая запись</a>
        <a class="btn btn-outline-primary p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
        <a class="btn btn-outline-primary p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="btn btn-outline-primary p-2 text-dark" href="{% url 'login' %}">Войти</a> |
        <a class="btn btn-outline-primary p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".newPost">Large modal</button> -->


<!-- Всплывающиее окно добавления записи -->
<div class="modal fade newPost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
              <div class="card-header">Добавить запись<a class="btn close" type="button" data-dismiss="modal" aria-label="Close">X</a></div>
              <div class="card-body" id="editor">
                  <form method="post" enctype="multipart/form-data" action="{% url 'posts:new_post'%}">
                      {% csrf_token %}
      
                      {% for field in form %}
                      <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                            <div class="col-md-6">
                            {{ field|addclass:"form-control" }}
  
                            {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            </div>                
                      </div>
                      {% endfor %}
                      <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>
    </div>
</div>