{% load post_form %}
{% load user_filters %}
{% load static %}
<div class="card mb-3 mt-1 shadow-sm">
    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "930x339" as im %}
      <img class="card-img" src="{{ im.url }}" height="350">
    {% endthumbnail %}
    <!-- Отображение текста поста -->
  <div class="card-body">
    <!-- Ссылка на автора через @ -->
    <a name="post_{{ post.id }}" href="{% url 'posts:profile' post.author.username %}">
    <strong class="d-block text-gray-dark">@{{ post.author }}</strong></a>
    <p class="card-text">
    {% autoescape off %}
    {{ post.text }}
    {% endautoescape %}
    </p>
  
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
        <a class="card-link muted" href="{% url 'posts:group_slug' post.group.slug %}">
          <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
        </a>
      {% endif %}
      {% if post.comments.exists %}
      <div>
        Комментариев: {{ post.comments.count }}
      </div>
      {% endif %}
      <!-- Отображение ссылки на комментарии -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <span class="input-group-text" id="basic-addon1">{{ post.total_views }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
            </svg>
          </span>
          <a class="btn btn-sm btn-primary" href="{% url 'posts:post' post.author.username post.id %}" role="button">
            Добавить комментарий
          </a>
            <!-- Ссылка на редактирование поста для автора -->
          {% if user == post.author %}
            <a class="btn btn-sm btn-info {% if post.is_recently_pub %}{% else %} disabled {% endif %}" data-toggle="modal" data-target=".post-edit-{{post.id}}" href="#" role="button">
              Редактировать
            </a>
            <a class="btn btn-sm btn-danger" roloe="button" data-toggle="modal" data-target="#post-delete-{{post.id}}" href="#">
              Удалить</a>
          {% endif %}
        </div>
        <!-- Дата публикации поста -->
        <small class="text-muted">{{ post.pub_date }}</small>
      </div>
  </div>
</div>
<!-- Всплывающиее окошки -->
<!-- Проверка что юзер является автором поста -->
{% if user == post.author %}
<!-- Всплывающиее окно подтверждения удаления -->
<div id="post-delete-{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="card-header">
      <div class="modal-body text-center">Вы уверены что хотите это удалить?</div>
      <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-danger" type="button" href="{% url 'posts:post_delete' post.author.username post.id %}">Удалить</a>
        <a class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</a>
      </div>
      </div> 
    </div>
  </div>
</div>

<!-- Всплывающиее окно редактирования -->
<!-- Проверка, что еще можно редактировать -->
{% if post.is_recently_pub %}
{% post_form post as post_form %}
<div class="modal fade post-edit-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="card-header">Редактировать запись</div> 
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_edit' post.author post.id %}">
        {% csrf_token %}

        {% for field in post_form %}
        <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
            <div class="col-md-8">
              {{ field }}
                                      
              {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
              {% endif %}
             </div>                
        </div>
        {% endfor %}
          <div class="col-md-6 offset-md-4">              
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
