{% load post_form %}
{% load user_filters %}
<div class="card mb-3 mt-1 shadow-sm">
    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "930x339" as im %}
      <img class="card-img" src="{{ im.url }}" height="350">
    {% endthumbnail %}
    <!-- Отображение текста поста -->
  <div class="card-body">
    <!-- Ссылка на автора через @ -->
    <a name="post_{{ post.id }}" href="{% url 'posts:profile' post.author.username %}">
    <strong class="d-block text-gray-dark">@{{ post.author }}</strong></a>
    <p class="card-text">
    {% autoescape off %}
    {{ post.text }}
    {% endautoescape %}
    </p>
  
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
        <a class="card-link muted" href="{% url 'posts:group_slug' post.group.slug %}">
          <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
        </a>
      {% endif %}
      {% if post.comments.exists %}
      <div>
        Комментариев: {{ post.comments.count }}
      </div>
      {% endif %}
      <!-- Отображение ссылки на комментарии -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a class="btn btn-sm btn-primary" href="{% url 'posts:post' post.author.username post.id %}" role="button">
            Добавить комментарий
          </a>
            <!-- Ссылка на редактирование поста для автора -->
          {% if user == post.author %}
            <a class="btn btn-sm btn-info {% if post.is_recently_pub %}{% else %} disabled {% endif %}" data-toggle="modal" data-target=".post-edit-{{post.id}}" href="#" role="button">
              Редактировать
            </a>
            <a class="btn btn-sm btn-danger" roloe="button" data-toggle="modal" data-target="#post-delete-{{post.id}}" href="#">
              Удалить</a>
          {% endif %}
        </div>
        <!-- Дата публикации поста -->
        <small class="text-muted">{{ post.pub_date }}</small>
      </div>
  </div>
</div>

<!-- Всплывающиее окно подтверждения удаления -->
<div id="post-delete-{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Подтверждения действия</h4>
      </div>
      <div class="modal-body text-center">Вы уверены что хотите удалить?</div>
      <div class="modal-footer">
        <a class="btn btn-danger" type="button" href="{% url 'posts:post_delete' post.author.username post.id %}">Удалить</a>
        <a class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</a>
      </div>
    </div>
  </div>
</div>

<!-- Всплывающиее окно редактирования -->
{% post_form post as post_form %}
<div class="modal fade post-edit-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="card-header">Редактировать запись</div> 
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_edit' post.author post.id %}">
        {% csrf_token %}

        {% for field in post_form %}
        <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
            <div class="col-md-8">
              {{ field }}
                                      
              {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
              {% endif %}
             </div>                
        </div>
        {% endfor %}
          <div class="col-md-6 offset-md-4">              
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
