{% extends "base.html" %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block header %}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        {% include 'includes/author_card.html' %}
      </div>
       <div class="col-md-9">
        {% for post in page %}
       <!-- Начало блока с отдельным постом -->
       {% include "includes/post_item.html" with post=post %}
          <!-- Остальные посты -->
          {% endfor %} 
       <!-- Здесь постраничная навигация паджинатора -->
        {% include "includes/paginator.html" %}
       </div>
      </div>
  </main>
{% endblock %}
