{% extends "base.html" %}
{% block title %} {{ just_title }} {% endblock %}
{% block content %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  {{ just_title }}
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted text-center">
                  {{ just_tech|safe }}
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text text-center">
           {{ just_text|safe }}
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}
